{
    "API_PORT": 4004,
    "CORS_ALLOWED_ORIGINS": ["*"],
    "dbs": {
        "read": {
            "host": "localhost:3306",
            "user": "root",
            "password": "",
            "database": ""
        }
    }
}

